table {
    border-collapse: collapse;
    background: linear-gradient(90deg,#6e0000, antiquewhite);
    border: 4px solid black;
}
thead {
    background-color:  rgba(110, 0, 0, 0.4);
}
th {
    color: #ffe369;
    padding: 10px;
    border: 2px solid rgba(189, 195, 199, 0.5);
}

/*tr:nth-child(even) {
    background: red;
}*/
.name-dark{
    color: white;
    font-weight: bold;
    background-color: rgba(143,148,251, 0.1);
}
.name-white{
    color: white;
    font-weight: bold;
}
.antique-white{
    background-color: antiquewhite;
    color: midnightblue;
    border: 1px solid rgba(189, 195, 199, 0.5);
 }
.color-red{
    background-color: darkred;
    color: white;
    border: 1px solid rgba(189, 195, 199, 0.5);
}
td {
    text-align: center;
}
a {
    font-weight: bold;
    color: white;
    padding: 10px;
}
.link{
    padding: 10px;
}