.figure {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    animation: move 8s infinite alternate;
}

.figure:hover {
    background-color: red;
    transition: 2.1s;
}

@keyframes move {
    0% {
        left: 0%;
    }

    100% {
        left: calc(100% - 150px);
    }
}
