img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
    background-size: 100% 100%;
}

table {
    border-spacing: 1px 1px;
    border: 1px solid gray;
}

td {
    text-align: center;
    border-spacing: 0px 0px;

}

td, th {
   padding: 10px;
}

table tr:first-child{
    background-color: black;
    color: white;

}

thead th:nth-child(2) {
    background-color: red;
}

.row1 {
    background-color: orange;
}

.row2 {
    background-color: green;
}

.row3 {
    background-color: blue;
}

.row4 {
    background-color: yellow;
}

.row5 {
    background-color: red;
}

.row6 {
    background-color: purple;
}